body {
    background-color: powderblue;
    background-image: url();
  }
  h1 {
    color: blue; background-color: rgb(255, 60, 0);
  }
  p{
    background-image: url(D:\Wallpapers\5_6116269648410314191.jpg);
  }